<!DOCTYPE HTML>
<html>

<head>
    <title>Hot Weather Widget Responsive Widget Template | Home :: w3layouts</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Hot Weather Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"
    />
    <!--google fonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>

</head>

<body>
    <h1>Hot Weather Widget</h1>
    <div class="element">
        <div class="element-left">
            <div class="element-bg-img">
                <img src="assets/images/1.jpg" alt="" class="img-responsive">
            </div>
            <app-list></app-list>
        </div>
        <div class="element-right">
            <app-temperatur></app-temperatur>
            
            <div class="teddy-bear">
                <div class="teddy-text">
                    <h4>Nam libero voluptatem</h4>
                    <span class="w-line"> </span>
                    <img src="assets/images/b1.jpg" alt="" class="img-responsive">
                </div>
                <div class="teddy-follow">
                    <ul>
                        <li class="folw-h">
                            <h3>2850</h3>
                            <p>Followers</p>
                        </li>
                        <li>
                            <h3>675</h3>
                            <p>Following</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
    <div class="copy-right">
        <p>© 2015 Hot Weather Widget. All rights reserved | Design by
            <a href="http://w3layouts.com/" target="_blank"> W3layouts </a>
        </p>
    </div>

</body>

</html>