<div class="element-left-bottom">
  <div class="ele-strip">
      
      <ul *ngIf="!loading; else loadRefDots" >
          <li *ngFor="let type of listTypes; let last = last"
              [class.anc-bor]="last">
              <a href="#">{{type}}</a>
          </li>
      </ul>
      <ng-template #loadRefDots >
        <ul>
          <li class="anc-bor">
            <img src="../../assets/images/loader-dots.svg" width="60" alt="">
          </li>
        </ul>
        </ng-template>
  </div>
  <div class="village">
      <h3>Righteous indignation & like</h3>
      <span class="line"> </span>
      <div class="activity_box">
          <div class="scrollbar" id="style-2">
                  <div *ngIf="!loading; else loadRef" class="activity-row">
                      <div class="activity-desc">
                          <h5>Resort Address</h5>
                          <p>Sed perspiciatis</p>
                          <p>Et harum quidem</p>
                          <h6>Tel:+1285 968 685</h6>
                      </div>
                      <div class="activity-img">
                          <ul>
                              <li>
                                  <img src='assets/images/res.jpg' alt="" />
                              </li>
                              <li>
                                  <img src='assets/images/r1.jpg' alt="" />
                              </li>
                          </ul>
                      </div>
                      <div class="clear"> </div>
                  </div>

              <ng-template #loadRef >
                <div class="activity-row loader">
                  <img src="../../assets/images/loader.svg" width="50" alt="">
                </div>
              </ng-template>
              
              
          </div>
      </div>
  </div>
</div>